<!DOCTYPE HTML>
<html>

<head>
    <link href="/users/css/forgotpassword.css" rel="stylesheet" type="text/css">
</head>

<body>
    <form id='regform' , action="<%= postUrl %>" method="post">
        <h1>password reset</h1>

        <% if(error){ %>
            <h4><i class="icon fa fa-ban"></i>
                <%= error %>
            </h4>
            <% } %>

                <div>
                    <p>Email address: <input type="email" , name="email" , value="" , placeholder="email" , oninput="this.className = ''" , id="email" , required>

                        <p>New Password: </p><input type="password" , name="password" , value='' , placeholder="New Password" , autofocus=true>
                        <p>Comfirm Password: </p><input type="password" , name="confirm" , value="" , placeholder="Confirm Password">
                </div>
                <div>
                    <input name="resetpassword" type="submit" value="Reset Password">
                </div>

                <p><a href="/login">Back to login</a></p>
    </form>
</body>

</html>