<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>MessinQ user profile</title>
    <link href="/users/css/profile.css" rel="stylesheet" type="text/css">
    <script src="script.js" async></script>
</head>

<body>
    <div id=profile>
        <h1>MessinQ</h1>
        <h2>User profile</h2>

        <p><a href="/logout">Logout</a></p>
        <p><a href="/chat">chat</a></p>

        <img src="" alt="profile picture" width="200" height="240">

        <h2 type=friendlist>Friend list</h2>
        <div id=friendlist></div>

        <h3 id=user>Username: </h3>
        <p id=user>Guus</p>
        <div id="username_container"></div>

        <h3 id=email>Email address: </h3>
        <p id=email>gustav_druif@hotmail.com</p>
        <div id="email_container"></div>


        <p type=password1>Change Password: </p><input type="password1" , name="password" , value='' , placeholder="New Password" , autofocus=true>
        <p type=password2>Comfirm change Password: </p><input type="password2" , name="confirm" , value="" , placeholder="Confirm Password">
        <button name="confirm" type="confirm" value="confirm" , placeholder="Confirm">Confirm</button>

        <button id="delete_friend">Delete friend</button>
        <button id=chat> Chat</button>
    </div>
</body>

</html>