<body>
	<form id="regForm" action="<%= postUrl %>" method="post">
		<h1>Register</h1>
	
		<% if(error){ %>
			<h4><i class="icon fa fa-ban"></i> <%= error %></h4>
		<% } %>
		
		<div class="tab">
			<p><input type="text" id="field_username" name="username" value="" placeholder="Username" oninput="this.className = ''" id="username" required>
			<p><input type="password" id="field_password" name="password" value="" placeholder="Password" oninput="this.className = ''" id="password" required>
		</div>
		
		<div style="text-align:center;margin-top:40px;">
			<input name="submit" type="submit" value="Register">
		</div>

	  <p><a href="/login">Back to login</a></p>
	</form>
</body>
